{% extends 'base.html' %}

{% block pagetitle %}{{user.username}}{% endblock %}

{% block content %}

<h2>User Info</h2>
<form class='mb-2' action="/users/{{user.username}}/delete" method="POST">
    <button type="submit" class='btn btn-danger btn-sm'>DELETE USER</button>
</form>

<ul class="list-group">
    <li class="list-group-item"><strong>Username:</strong> {{user.username}}</li>
    <li class="list-group-item"><strong>Email:</strong> {{user.email}}</li>
    <li class="list-group-item"><strong>First Name:</strong> {{user.first_name}}</li>
    <li class="list-group-item"><strong>Last Name:</strong> {{user.last_name}}</li>
</ul>
<h2 class='mt-5 mb-2'>Feedback Info</h2>
<ul class="list-group">
    {% for feedback in feedbacks %}
    <li class="list-group-item">
        <strong>Title:</strong> {{feedback.title}} <br>
        <strong>Content:</strong> {{feedback.content}}
        <a href='/feedback/{{feedback.id}}/update' class='ml-2 btn btn-primary btn-sm'>Edit</a>
        <form class='d-inline' action="/feedback/{{feedback.id}}/delete" method="POST">
            <button type="submit" class='ml-2 btn btn-danger btn-sm'>Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
<a class='btn btn-success' href="/users/{{user.username}}/feedback/add">ADD A FEEDBACK</a>

{% endblock %}